
<div class="about_us_banner">
    	<img src="images/about_us_banner.jpg" alt="" />
        <h2>We Bring Your Dream Home to Reality!</h2>
    </div>
    
    <div class="about_us_section1">
    	<div class="about_section1_img">
        	<img src="images/about_us_img_1.jpg" alt="" />
        </div>
        <div class="about_section1_text">
        	<h1>Who We Are</h1>
        	<p>
            	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<br /><br />
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
<br /><br />
Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>
        </div>
    </div>
    
    <div class="about_us_section2">
    	<div class="about_section2_img"><img src="images/about_us_img_2.jpg" alt="" /></div>
        <div class="about_section2_text">
        	<h1>How It All Started</h1>
            <p>
            	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis raesentium voluptatum deleniti atque corrupti quos olores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            </p>
        </div>
    </div>
    
    <div class="about_us_section3">
    	<div class="about_section3_img">
        	<img src="images/about_us_img_3.jpg" alt="" />
        </div>
        <div class="about_section3_text">
        	<h1>Our Vision</h1>
            <p>
            	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis raesentium voluptatum deleniti atque corrupti quos, At vero eos et accusamus et iusto odio dignissimos ducimus Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>
        </div>
    </div>
    
    <div class="clearfix"></div>
    <div class="our_mission_main">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-4 col-md-3 col-sm-3"></div>
                <div class="col-lg-8 col-md-9 col-sm-9">
                	<h1>Our Mission</h1>
                    <p>
                    	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis raesentium voluptatum deleniti atque corrupti quos.
                    </p>
                </div>
            </div>
        </div>
    </div>
       
    <div class="about_contact_us">
    <div class="container">
    	<div class="row">
		
        	<div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8">
			
            		<div class="call_back_form">
					
                    	<h1>Contact Us</h1>
						
                    	<form name="aboutForm">
						
                        	<input placeholder="Name" name="uname" required ng-minlength="3" type="text" ng-model="user.name" />                            
                            <select class="test_design">
                            	<option>+91 INDIA</option>
                            </select>
                            <input placeholder="Mobile Number" type="text" ng-model="user.mobileno" name="phno" required ng-minlength="10" ng-maxlength="13"/>
                            <div class="clearfix"></div>
							<span ng-show="aboutForm.uname.$dirty && aboutForm.uname.$error.required">This is a required field</span>
							<span ng-show="aboutForm.uname.$dirty && aboutForm.uname.$error.minlength">Minimum length required is 3</span>
            				
							<span ng-show="aboutForm.phno.$dirty && aboutForm.phno.$error.required">This is a required field</span>
							<span ng-show="aboutForm.phno.$dirty && aboutForm.phno.$error.minlength">Minimum length required is 10</span>
							<span ng-show="aboutForm.phno.$dirty && aboutForm.phno.$error.maxlength">Mobile Number is too long</span>
		
                            <button class="btn_style" ng-click="callBack(user);">Get Call Back</button>
							
                        </form>                        
                    </div>
                </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
    </div>
  <script type="text/ng-template" id="myModalContent.html">
         <div class="modal-header">
           <h3 class="modal-title">Message</h3> 
        </div> 
        <div class="modal-body">
            <b>{{ message}}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	 
         		<script type="text/javascript">
		$(document).ready(function() {
		$('.test_design').niceSelect();
		});
</script>
    
    
    
  
