<!-- <div loading-indicatorbuilder class="waiting-box">
	  <span>Please wait...<img src="http://intown.biz/demo/wait/waiting.gif" /></span></div> -->
    
    <div class="builder_page_banner">
    	<img src="images/builder_page_banner.jpg" alt="" />
        <div class="bulider_btext">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-12">
                    	<h1>Prestige Group</h1>
                        <ul>
                        	<li>31 Years of experience</li>
                            <li>128 Projects</li>
                            <li>50 Ongoing Projects</li>
                        </ul>
                    </div>
                </div>
            </div>        	
        </div>
    </div>
    <div class="container">
    	<div class="row">
        	<div class="col-lg-12">
            	<div class="builder_about_text">
            	<p>
                	Envisioned by Mr. Razack Sattar in 1956, Prestige Group ventured into real estate projects in 1986. Today, it is acknowledged as one of the south India’s leading property developers. Irfan Razack is the chairman and managing director of this group. Infrastructural developments of the company spans across retail, residential, commercial, leisure and hospitality sectors and covers cities such as Cochin, Bangalore, Chennai, Goa, Mangalore and Hyderabad. more 
                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="city_search_filter">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 col-md-12 col-sm-12">
            	<div class="offers_filters_box">
                	<div class="city_filter_box">
                    	<div class="icon_city"><img src="images/bed_icon_filter.png" alt="" /></div>
                        <select class="test_design">
                            	<option>Bedroom</option>
                            </select>
                    </div>
                </div>
                <div class="offers_filters_box">
                	<div class="city_filter_box">
                    	<div class="icon_city"><img src="images/rs_icon_filter.png" alt="" /></div>
                        <select class="test_design">
                            	<option>Budget</option>
                            </select>
                    </div>
                </div>
                <div class="offers_filters_box">
                	<div class="city_filter_box">
                    	<div class="icon_city"><img src="images/possession-_icon_filter.png" alt="" /></div>
                        <select class="test_design">
                            	<option>Possession within</option>
                            </select>
                    </div>
                </div>
                <div class="offers_filters_box">
                	<div class="city_filter_box">
                    	<div class="icon_city"><img src="images/city_icon_filter.png" alt="" /></div>
                        <select class="test_design">
                            	<option>City</option>
                            </select>
                    </div>
                </div>
                <div class="offers_filters_box">
                	<div class="city_filter_reset">
                    	<a href="#"><img src="images/reset_icon_filter.png" alt="" /> Reset</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
            	<div class="col-lg-6 col-md-6 col-sm-6">
                	<div class="disclaimer_icon">
                    	<p><span><img src="images/disclaimer_icon.png" alt="" /></span> Disclaimer</p>                       
                    </div>
                    <div class="disclaimer_icon">
                    	<p><span><img src="images/view_map_icon.png" alt="" /></span> View Map</p>                       
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                	<div class="properties_per_page">
                    	<p>Properties per page</p>
                        <select>
                        	<option>10</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
            	<hr />
            </div>
            <div class="row">
            	<div class="col-lg-9 col-md-9 col-sm-9">
                	<h1>Property for Sale (<span>25,524 projects</span>)</h1>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                	<div class="sort_by_city">
                    	<h5>Sort by :</h5>
                        <select class="test_design">
                        	<option>Relevance</option>
                        </select>
                    </div>
                </div>
            </div>    
            <div class="row">
            	<div class="col-lg-6 col-md-6 col-sm-6">
                	<div class="city_property_detail_box">
                    	<div class="star_imgs_details">
                        	<a href="#"><img src="images/start_icon_2.png" alt="" /></a>
                            <a href="#"><img src="images/img_viewer_img.png" alt="" />
                            	<span>50</span>
                            </a>
                        </div>
                    	<a class="image" href="#"><img src="images/city_property_image.jpg" alt="" /></a>
                        <div class="property_important_info">
                        	<h2>Prestige Lakeside Apartment
                            	<small><img src="images/search_location_icon.png" /> HSR, Bengaluru</small>
                            </h2>
                            <h3>Prestige Group</h3>
                            <h4>RERA ID : PR/KN/17032456/</h4>
                        </div>
                        <div class="property_more_details">
                        	<div class="left_details">
                            	<div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <h5><strong>Exciting Offers</strong> Offer Price -     5500/- per Sq.Ft.</h5>
                            </div>
                            
                            <div class="right_details">
                            	<div class="ready_move">
                                	<span><img src="images/last_month_img.png" alt="" /></span>
                                    <p>
                                    	<small>18.5 %</small>
                                    in last 49 months</p>
                                </div>
                                <div class="ready_move">
                                	<span><img src="images/ready_to_move.png" alt="" /></span>
                                    <p>Ready to move in</p>
                                </div>
                                <ul>
                                	<li><a href="#">View Details</a></li>
                                    <li class="active"><a href="#">Enquire Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                	<div class="city_property_detail_box">
                    	<a class="image" href="#"><img src="images/city_property_image.jpg" alt="" /></a>
                        <div class="property_important_info">
                        	<h2>Prestige Lakeside Apartment
                            	<small><img src="images/search_location_icon.png" /> HSR, Bengaluru</small>
                            </h2>
                            <h3>Prestige Group</h3>
                            <h4>RERA ID : PR/KN/17032456/</h4>
                        </div>
                        <div class="property_more_details">
                        	<div class="left_details">
                            	<div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <h5><strong>Exciting Offers</strong> Offer Price -     5500/- per Sq.Ft.</h5>
                            </div>
                            
                            <div class="right_details">
                            	<div class="ready_move">
                                	<span><img src="images/last_month_img.png" alt="" /></span>
                                    <p>
                                    	<small>18.5 %</small>
                                    in last 49 months</p>
                                </div>
                                <div class="ready_move">
                                	<span><img src="images/ready_to_move.png" alt="" /></span>
                                    <p>Ready to move in</p>
                                </div>
                                <ul>
                                	<li><a href="#">View Details</a></li>
                                    <li class="active"><a href="#">Enquire Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                	<div class="city_property_detail_box">
                    	<a class="image" href="#"><img src="images/city_property_image.jpg" alt="" /></a>
                        <div class="property_important_info">
                        	<h2>Prestige Lakeside Apartment
                            	<small><img src="images/search_location_icon.png" /> HSR, Bengaluru</small>
                            </h2>
                            <h3>Prestige Group</h3>
                            <h4>RERA ID : PR/KN/17032456/</h4>
                        </div>
                        <div class="property_more_details">
                        	<div class="left_details">
                            	<div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <h5><strong>Exciting Offers</strong> Offer Price -     5500/- per Sq.Ft.</h5>
                            </div>
                            
                            <div class="right_details">
                            	<div class="ready_move">
                                	<span><img src="images/last_month_img.png" alt="" /></span>
                                    <p>
                                    	<small>18.5 %</small>
                                    in last 49 months</p>
                                </div>
                                <div class="ready_move">
                                	<span><img src="images/ready_to_move.png" alt="" /></span>
                                    <p>Ready to move in</p>
                                </div>
                                <ul>
                                	<li><a href="#">View Details</a></li>
                                    <li class="active"><a href="#">Enquire Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                	<div class="city_property_detail_box">
                    	<a class="image" href="#"><img src="images/city_property_image.jpg" alt="" /></a>
                        <div class="property_important_info">
                        	<h2>Prestige Lakeside Apartment
                            	<small><img src="images/search_location_icon.png" /> HSR, Bengaluru</small>
                            </h2>
                            <h3>Prestige Group</h3>
                            <h4>RERA ID : PR/KN/17032456/</h4>
                        </div>
                        <div class="property_more_details">
                        	<div class="left_details">
                            	<div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <h5><strong>Exciting Offers</strong> Offer Price -     5500/- per Sq.Ft.</h5>
                            </div>
                            
                            <div class="right_details">
                            	<div class="ready_move">
                                	<span><img src="images/last_month_img.png" alt="" /></span>
                                    <p>
                                    	<small>18.5 %</small>
                                    in last 49 months</p>
                                </div>
                                <div class="ready_move">
                                	<span><img src="images/ready_to_move.png" alt="" /></span>
                                    <p>Ready to move in</p>
                                </div>
                                <ul>
                                	<li><a href="#">View Details</a></li>
                                    <li class="active"><a href="#">Enquire Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                	<div class="city_property_detail_box">
                    	<a class="image" href="#"><img src="images/city_property_image.jpg" alt="" /></a>
                        <div class="property_important_info">
                        	<h2>Prestige Lakeside Apartment
                            	<small><img src="images/search_location_icon.png" /> HSR, Bengaluru</small>
                            </h2>
                            <h3>Prestige Group</h3>
                            <h4>RERA ID : PR/KN/17032456/</h4>
                        </div>
                        <div class="property_more_details">
                        	<div class="left_details">
                            	<div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <h5><strong>Exciting Offers</strong> Offer Price -     5500/- per Sq.Ft.</h5>
                            </div>
                            
                            <div class="right_details">
                            	<div class="ready_move">
                                	<span><img src="images/last_month_img.png" alt="" /></span>
                                    <p>
                                    	<small>18.5 %</small>
                                    in last 49 months</p>
                                </div>
                                <div class="ready_move">
                                	<span><img src="images/ready_to_move.png" alt="" /></span>
                                    <p>Ready to move in</p>
                                </div>
                                <ul>
                                	<li><a href="#">View Details</a></li>
                                    <li class="active"><a href="#">Enquire Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                	<div class="city_property_detail_box">
                    	<a class="image" href="#"><img src="images/city_property_image.jpg" alt="" /></a>
                        <div class="property_important_info">
                        	<h2>Prestige Lakeside Apartment
                            	<small><img src="images/search_location_icon.png" /> HSR, Bengaluru</small>
                            </h2>
                            <h3>Prestige Group</h3>
                            <h4>RERA ID : PR/KN/17032456/</h4>
                        </div>
                        <div class="property_more_details">
                        	<div class="left_details">
                            	<div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <h5><strong>Exciting Offers</strong> Offer Price -     5500/- per Sq.Ft.</h5>
                            </div>
                            
                            <div class="right_details">
                            	<div class="ready_move">
                                	<span><img src="images/last_month_img.png" alt="" /></span>
                                    <p>
                                    	<small>18.5 %</small>
                                    in last 49 months</p>
                                </div>
                                <div class="ready_move">
                                	<span><img src="images/ready_to_move.png" alt="" /></span>
                                    <p>Ready to move in</p>
                                </div>
                                <ul>
                                	<li><a href="#">View Details</a></li>
                                    <li class="active"><a href="#">Enquire Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                	<div class="city_property_detail_box">
                    	<a class="image" href="#"><img src="images/city_property_image.jpg" alt="" /></a>
                        <div class="property_important_info">
                        	<h2>Prestige Lakeside Apartment
                            	<small><img src="images/search_location_icon.png" /> HSR, Bengaluru</small>
                            </h2>
                            <h3>Prestige Group</h3>
                            <h4>RERA ID : PR/KN/17032456/</h4>
                        </div>
                        <div class="property_more_details">
                        	<div class="left_details">
                            	<div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <h5><strong>Exciting Offers</strong> Offer Price -     5500/- per Sq.Ft.</h5>
                            </div>
                            
                            <div class="right_details">
                            	<div class="ready_move">
                                	<span><img src="images/last_month_img.png" alt="" /></span>
                                    <p>
                                    	<small>18.5 %</small>
                                    in last 49 months</p>
                                </div>
                                <div class="ready_move">
                                	<span><img src="images/ready_to_move.png" alt="" /></span>
                                    <p>Ready to move in</p>
                                </div>
                                <ul>
                                	<li><a href="#">View Details</a></li>
                                    <li class="active"><a href="#">Enquire Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                	<div class="city_property_detail_box">
                    	<a class="image" href="#"><img src="images/city_property_image.jpg" alt="" /></a>
                        <div class="property_important_info">
                        	<h2>Prestige Lakeside Apartment
                            	<small><img src="images/search_location_icon.png" /> HSR, Bengaluru</small>
                            </h2>
                            <h3>Prestige Group</h3>
                            <h4>RERA ID : PR/KN/17032456/</h4>
                        </div>
                        <div class="property_more_details">
                        	<div class="left_details">
                            	<div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <h5><strong>Exciting Offers</strong> Offer Price -     5500/- per Sq.Ft.</h5>
                            </div>
                            
                            <div class="right_details">
                            	<div class="ready_move">
                                	<span><img src="images/last_month_img.png" alt="" /></span>
                                    <p>
                                    	<small>18.5 %</small>
                                    in last 49 months</p>
                                </div>
                                <div class="ready_move">
                                	<span><img src="images/ready_to_move.png" alt="" /></span>
                                    <p>Ready to move in</p>
                                </div>
                                <ul>
                                	<li><a href="#">View Details</a></li>
                                    <li class="active"><a href="#">Enquire Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                	<div class="city_property_detail_box">
                    	<a class="image" href="#"><img src="images/city_property_image.jpg" alt="" /></a>
                        <div class="property_important_info">
                        	<h2>Prestige Lakeside Apartment
                            	<small><img src="images/search_location_icon.png" /> HSR, Bengaluru</small>
                            </h2>
                            <h3>Prestige Group</h3>
                            <h4>RERA ID : PR/KN/17032456/</h4>
                        </div>
                        <div class="property_more_details">
                        	<div class="left_details">
                            	<div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <h5><strong>Exciting Offers</strong> Offer Price -     5500/- per Sq.Ft.</h5>
                            </div>
                            
                            <div class="right_details">
                            	<div class="ready_move">
                                	<span><img src="images/last_month_img.png" alt="" /></span>
                                    <p>
                                    	<small>18.5 %</small>
                                    in last 49 months</p>
                                </div>
                                <div class="ready_move">
                                	<span><img src="images/ready_to_move.png" alt="" /></span>
                                    <p>Ready to move in</p>
                                </div>
                                <ul>
                                	<li><a href="#">View Details</a></li>
                                    <li class="active"><a href="#">Enquire Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                	<div class="city_property_detail_box">
                    	<a class="image" href="#"><img src="images/city_property_image.jpg" alt="" /></a>
                        <div class="property_important_info">
                        	<h2>Prestige Lakeside Apartment
                            	<small><img src="images/search_location_icon.png" /> HSR, Bengaluru</small>
                            </h2>
                            <h3>Prestige Group</h3>
                            <h4>RERA ID : PR/KN/17032456/</h4>
                        </div>
                        <div class="property_more_details">
                        	<div class="left_details">
                            	<div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <div>
                            	<p>1 BHK + 1T <i class="fa fa-angle-down" aria-hidden="true"></i></p> <p>905 sqft</p> <h6><i class="fa fa-inr" aria-hidden="true"></i> 25 L - 40 L</h6>
                            	</div>
                                <h5><strong>Exciting Offers</strong> Offer Price -     5500/- per Sq.Ft.</h5>
                            </div>
                            
                            <div class="right_details">
                            	<div class="ready_move">
                                	<span><img src="images/last_month_img.png" alt="" /></span>
                                    <p>
                                    	<small>18.5 %</small>
                                    in last 49 months</p>
                                </div>
                                <div class="ready_move">
                                	<span><img src="images/ready_to_move.png" alt="" /></span>
                                    <p>Ready to move in</p>
                                </div>
                                <ul>
                                	<li><a href="#">View Details</a></li>
                                    <li class="active"><a href="#">Enquire Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="row">
            	<div class="col-lg-12">
                	<div class="pagination_main">
                    	 <ul class="pagination">
                              <li><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                            </ul> 
                    </div>
                </div>
            </div>     
        </div>
    </div>
    
    
    <div class="about_contact_us">
    <div class="container">
    	<div class="row">
        	<div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8">
            	
                	<div class="call_back_form">
                    	<h1 style="font-size:30px;">How About Saving Your Time!</h1>
                    	<form>
                        	<input placeholder="Name" type="text" />                            
                            <select class="test_design">
                            	<option>+91 INDIA</option>
                            </select>
                            <input placeholder="Mobile Number" type="text" />
                            <div class="clearfix"></div>
                            <a class="btn_style" href="#">Get Call Back</a>
                        </form>   
                        <p style="text-align:center; margin-top: 30px;">All the request are handled in just 5 minutes, Please <a href="#">click here</a> to send an email inquiry</p>                     
                    </div>
                </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
    </div>
   
   
    <script type="text/ng-template" id="myModalContent.html">
         <div class="modal-header">
           <h3 class="modal-title">Message</h3> 
        </div> 
        <div class="modal-body">
            <b>{{ message}}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	 