 <!-- <div loading-indicatorfooter class="waiting-box">
	  <span>Please wait...<img src="http://intown.biz/demo/wait/waiting.gif" /></span></div> -->
 <div class="clearfix"></div>
 <div class="footer_main">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-5 col-md-5 col-sm-5">
                	<div class="footer_about">
                	<h1>About us</h1>
                    <p>
                    	Homes247.in is an online real estate advisor that 
functions on the fundamentals of trust, transparency and expertise. As a digital marketplace with an exhaustive range of property listings, we know it is easy to get lost. 
<br /><br />
At Homes247.in, we guide home buyers right from the start of their home search to the very end. Browse through more than 139,000 verified real estate properties with accurate lowdown on amenities, neighborhoods and cities, and genuine pictures. Shortlist your favorite homes and allow us to arrange site visits. 
<br /><br />
Our work does not end here. We assist you with home loans and property registrations. Buying a home is an important investment – turn it into your safest, best deal at Homes247.in. Our work does not end here. We assist you with home loans and property registrations. Buying a home is an important investment – turn it into your safest, best deal at Homes247.in
Our work does not end here. We assist you with home loans and property registrations. Buying a home is an important investment – turn it into your safest, best deal at Homes247.in.
                    </p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">                	
                    <div class="footer_right_links">
                    	<h1>Real Estate In India</h1>
                        <ul ng-repeat="city_details in cities">
                        	<li><a ui-sref="city({cityname:city_details.city,locality:'',buliderId:'',reraId:''})">Properties For Sale In {{city_details.city}}</a></li>
                            
                        </ul>
                    </div>
                    <div class="footer_right_links">
                    	<h1>Properties In India</h1>
                        <ul>
                        	<li><a href="#">Apartments For Sale In India</a></li>
                            <li><a href="#">Villas in India</a></li>
                            <li><a href="#">New Apartments For Sale In India</a></li>
                            <li><a href="#">Upcoming Apartments For Sale In India</a></li>
                            <li><a href="#">Resale Apartments In India</a></li>
                        </ul>
                    </div>
                    <div class="footer_right_links">
                    	<h1>Real Estate In India</h1>
                        <ul ng-repeat="city_details in cities">
                        	<li><a ui-sref="city({cityname:city_details.city,locality:'',buliderId:'',reraId:''})">Property in {{city_details.city}}</a></li>
                          
                        </ul>
                    </div>
                    <div class="footer_right_links mrgLft15">
                    	<h1>Builders</h1>
                        <ul>
                        	<li><a href="#">Prestige Group</a></li>
                            <li><a href="#">Sobha Limited</a></li>
                            <li><a href="#">DLF</a></li>
                            <li><a href="#">Unitech</a></li>
                            <li><a href="#">Kolte Patil Developers</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="row">
            	<div class="col-lg-5 col-md-5 col-sm-5">
                	<h3>Property Type</h3>
                    <div class="footer_right_links">
                    	<ul>
                    		<li><a href="#">Apartments sale in India</a></li>
                            <li><a href="#">Property sale in India</a></li>
                            <li><a href="#">Villas sale in India</a></li>
                            <li><a href="#">Plots sale in India</a></li>
                            <li><a href="#">New apartments for sale in India</a></li>
                            <li><a href="#">Upcoming flats for sale in India</a></li>
                    	</ul>                    	
                    </div>
                    <div class="footer_right_links">
                    	<ul>
                    		<li><a href="#">Ongoing projects in India</a></li>
                            <li><a href="#">Ready to move flats in India</a></li>
                            <li><a href="#">Resale apartments in India</a></li>
                            <li><a href="#">Properties for Senior Citizen</a></li>
                            <li><a href="#">All Projects in India</a></li>
                    	</ul>                    	
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                	<div class="footer_right_down">
                    	<h3>Quick Links</h3>
                        <ul>
                        	<li><a ng-href="#/dashboard">Home</a></li>
                            <li><a href="#">User Agreement</a></li>
                            <li><a href="#">Guide</a></li>
                            <li><a ng-href="#/contactUs">Contact us</a></li>
                            <li><a ng-href="#/policy">Privacy Policy</a></li>
                            <li><a href="#">Disclaimer</a></li>
                        </ul>
                    </div>
                    <div class="footer_right_down">
                    	<h3>Resources</h3>
                        <ul>
                        	<li><a ng-href="#/calculator">Home Loan</a></li>
                            <li><a ng-href="#/services">NRI Services</a></li>
                            <li><a href="#">How To Buy</a></li>
                        </ul>
                    </div>
                    <div class="footer_right_down">
                    	<h3>Network sites</h3>
                        <ul>
                        	<li><a href="#">Housing.com</a></li>
                            <li><a href="#">IREF</a></li>
                            <li><a href="#">Makaan.com</a></li>
                        </ul>
                    </div>
                    <div class="footer_right_down">
                    	<h3>Global Partners</h3>
                        <ul>
                        	<li><a href="#">Mansionglobal.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_end_info">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-4 col-md-4 col-sm-4">
                    	<div class="visit_us">
                        	<span>
                        		<img src="images/foote_location_icon.png" alt="" />
                            </span>
                            <h4>
                            	Visit us
								<small>No. 25, MG Road, Bengaluru, Karnataka</small>
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<div class="visit_us">
                        	<span>
                        		<img src="images/footer_phone_icon.png" alt="" />
                            </span>
                            <h4>
                            	Contact us
								<small>India1800-103-132-6  Toll Free  (9am to 9pm) <br />e-mail : customer.service@homes247.in</small>
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<div class="follow_us_icon">
                        	<h5>Follow us</h5>
                            <ul>
                            	<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>