<!-- <div loading-indicator class="waiting-box">
	<span>Please wait...<img src="http://intown.biz/demo/wait/waiting.gif" /></span></div> -->
<div class="container">

    <div class="row">
        <div id="horizontalTab">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="my_account_links">
                    <h2>My Accounts</h2>
                    <ul class="resp-tabs-list">
                          <li><a ng-href="#/myFav">My Favourite</a></li>
                        <li><a ng-href="#/recentlyView">Recently Viewed</a></li>
                        <li><a ng-href="#/setting">Account Settings</a></li>
                        <li>
                            <a ng-href="#/referEarn"><img src="images/refer_earn_img.png" alt="" /></a>
                        </li>
                    </ul>
                </div>
            </div>
			
			 <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="resp-tabs-container">
				 <div>
                	<div class="recently_viewed_details">
					<h3 ng-hide="recentView">Nothing to show you</h3>
                    	<div class="content mCustomScrollbar" ng-show="recentView">
							
                            <div class="recently_viewed_box" ng-repeat="userfav in user_Fav_list" ng-click="getpropertydata(userfav);">
							
							
                            	<div ng-repeat = "property_deatils in userfav.property_deatils">
								<span><img ng-src="{{propertyimage}}{{property_deatils.ImagePath}}" alt="" style="height: 30px;" /></span>
                                <div class="recently_viewed_text" >
                                	<h3>{{property_deatils.propertyName}}</h3>
                                    <p><img src="images/location_icon2.png" alt="" /> {{property_deatils.locality_name}},{{property_deatils.city_name}}</p>
                                </div></div>
                            </div>
                           
                            
                         </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="resp-tabs-container">
				   <div>
                	<div class="my_favorite_right">
                    	<p>Refer a friend to our site and once the booking is made by your referral, You will</p>
                        <h5>Earn upto  &nbsp; <i class="fa fa-inr" aria-hidden="true"></i>  10000</h5>
                        <div class="my_favorite_form">
                        	<div class="left_aside">
                            	<input placeholder="Your Referral Name" type="text" />
                                <input placeholder="Referral Mobile Number" type="text" />
                                <p>
                                	Your referal can expect a call from us in 5 minutes!!
                                </p>
                            </div>
                            <div class="right_aside">
                            	<textarea placeholder="Anything we need to know about your referral requirements !"></textarea>
                                <div class="otp_box">
                                	<input placeholder="Enter OTP" type="text" />
                                    <h6>
                                    	An OTP has been sent to your registered mobile number
                                    </h6>
                                </div>
                                <a class="submit_btn" href="#">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="my_accoumt_text">
                <p>
                    Disclaimer of Warranty; Limitation of Liability: All the information provided on this website including the purchase Price and current Price are computed based on the limited information available with Homes247.in and may not reflect the correct information. Our company accepts no liability for the content of this website, or for the consequences of any actions taken on the basis of the information provided. The content is for information purposes only and does not constitute an offer to purchase or sell any property or to avail of any service.
                </p>
            </div>
        </div>
    </div>
</div>

 <script type="text/ng-template" id="myModalContent.html">
         <div class="modal-header">
           <h3 class="modal-title">Message</h3> 
        </div> 
        <div class="modal-body">
            <b>{{ message}}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	 